<div class="box"> 
    <h1 class="headings">About Me : </h1><br>
    <div class="text">
        <cite>
            Hey Everyone,<br><br>
            My name is Anubhav Solanki. I'm 20 years old. I am a guy who loves to code. 
            I am currently a B.Tech student studying in 3rd year of Graphic Era Deemed to be University.
            I have created this website for fun. So use it as you like.
        </cite>
    </div>
    <h1 class="headings">Instructions : </h1><br>
    <div class="text">
        <cite>
            <ol>
                <li>First of all, Enter your name and your friend's name and then press submit button</li>
                <li>Then, a map will appear on the screen on this map, you will see your location.</li>
                <li>Now ask your friend to fill that submit form in website.</li>
                <li>Now, after your friend press submit button.</li>
                <li>Then, You can see your location and your friend location on the map.</li>
                <li>Similary, your friend can also see your location.</li>
            </ol>
        </cite>
    </div>
    
</div>
