

<!--         HEADER            -->

<header id="header">
  <nav>
     <div class="menu">
        <ul>
           <li><a routerLink="/home" routerLinkActive="active" href="/home">Home</a></li>
           <li><a routerLink="/about" routerLinkActive="active" href="/about">About</a></li>
        </ul>
     </div>
  </nav>
</header>






<!--         ROUTER OUTLET            -->

<router-outlet></router-outlet>



<!--         FOOTER            -->

<footer style="margin-top:20% ;">
  <button (click)="scrollFunction('header')" style="float: right; background-color: white; color: black;outline: none;" >Top <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<div class="jumbotron jumbotron-fluid p-4 mt-5 mb-0" style="background-color: #535e67;" >
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
      <div class="card border-0" style="background-color: #535e67;">
        <div class="card-body text-light text-center">
          <h5 class="card-title text-white display-4" style="font-size:30px"></h5>
        <p class="d-inline lead">COPYRIGHT © 2020<br>
        <a href="#" class="text-light d-block lead"></a>
        </p>

        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
      <div class="card border-0" style="background-color: #535e67;">
        <div class="card-body text-center">
          <h5 class="card-title text-white display-4" style="font-size:30px">Information</h5>
          <a class="text-light d-block lead" style="margin-left: -20px" href="tel:+917983777831"><i class="fa fa-phone mr-2"></i>+91 7983777831</a>
          <a class="text-light d-block lead" href="mailto:anubhavsolanki0@gmail.com"><i class="fa fa-envelope mr-2"></i>anubhavsolanki0@gmail.com</a>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" >
      <div  class="card  border-0" style="background-color: #535e67;">
        <div class="card-body text-center" >
        <h5 class="card-title text-white display-4" style="font-size:30px ">Social Media</h5>
    
            <a class="text-light" href="https://www.facebook.com/anubhav.solanki.73" target="blank"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
          
            <a class="text-light" href="https://github.com/AnubhavSolanki" target="blank"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
          
            <a class="text-light" href="https://www.instagram.com/Anubhav__Solanki/" target="blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
          
            <a class="text-light" href="https://www.linkedin.com/in/anubhavsolanki/" target="blank"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
          
        </div>
      </div>
    </div>	
  </div>
</div>
</div>
</footer>